@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Stonewaller';
    src: url('fonts/Stonewaller.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import 'tailwindcss/utilities';



.font-stonewaller {
    font-family: 'Stonewaller', sans-serif;
}